:root{
    /*Colors*/
    
--f-red: hsl(0, 100%, 67%);
--f-yellow: hsl(39, 100%, 56%);
--f-green: hsl(166, 100%, 37%);
--f-blue: hsl(234, 85%, 45%);
    
    /*Gradient Background*/
    
--bg-bluetop: hsl(252, 100%, 67%)
--bg-bluebottom: hsl(241, 81%, 54%)

    /*Gradient Circle*/
    
--c-bluetop: hsla(256, 72%, 46%, 1);
--c-bluebottom: hsla(241, 72%, 46%, 0);

      /*Backgrounds*/
    --bg-background: hsl(0, 0%, 100%);
--bg-react:hsla(0, 100%, 67%, 0.05);
--bg-memory:hsla(39, 100%, 56%,0.05);
--bg-verbal: hsla(221, 100%, 96%, 0.5);
--bg-visual: hsla(241, 100%, 89%,0.3);
--bg-button: hsl(224, 30%, 27%);
    
     /*Font Weights*/
    --fw-extralarge:800;
    --fw-large:700;
    --fw-medium:500;
        
    --fs-p:18px;  
    
    /* Heights*/
    --h-40:40px;
    --h-50:50px;
}
*{
    margin:0;
    padding:0;
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box!important;
}
.display{
    display: flex;
    gap:5px;
    
}
body{
    background-color:aliceblue;
}
.container{
    margin:10% auto;
    height:auto;
    background-color: var(--bg-background);
    display:grid;
    max-width:375px;
    border-radius: .5rem;
    overflow: hidden;
    
    
}
.container1{
    padding:10px;
    box-sizing: border-box!important;
    font-size: 15px;
}
.result{
    background: linear-gradient(180deg, hsl(252, 100%, 67%),hsl(241, 81%, 54%) ) ;
    height:330px;
    border-radius: 0 0 2rem 2rem ;
    text-align: center;
    padding:10px;
    
}
.result__circle{
    border-radius:100%;
    display:grid;
    justify-content: center;
    padding:20px;
    margin:auto auto;
    width:34.33333333333%;
    height:40%;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0) );
}
.space{
    height:10px;
}
.result__h2 {
    color:var(--bg-background);
    font-weight: var(--fw-medium);
    font-size: 20px;
}
.result_circle_h1{
    color:var(--bg-background);
    font-weight: var(--fw-extralarge);
    font-size: 50px;
    
}
.result_circle_p1{
    color:lightgray;
    margin:auto;
    font-size: 12px;
    font-weight: var(--fw-medium);
}
.result__p {
    color:lightgray;
    width:70%;
    margin:auto;
    font-size: 15px;
    font-weight: var(--fw-medium);
}
.container_red, .container_blue, .container_green, .container_yellow{
    min-height:var(--h-50);
    display:flex;
    gap:135px;
    border-radius:.75rem;
    align-items: center;
    padding:5px 15px ;
    margin:15px 10px;

}
.container_yellow, .container_red{
    gap:120px!important;
}
.container__reaction{
    color:var(--f-red);
    font-weight:var(--fw-medium);
}

.container__memory{
    color:var(--f-yellow);
    font-weight:var(--fw-medium);
}
.container__verbal{
    color:var(--f-green);
    font-weight:var(--fw-medium);
}
.container__visual{
    color:var(--f-blue);
    font-weight:var(--fw-medium);
}
.container_red{
    background-color: var(--bg-react);
}
.container_yellow{
    background-color: var(--bg-memory);
}
.container_green{
    background-color: var(--bg-verbal);
}
.container_blue{
    background-color: var(--bg-visual);
}
.div{
    display:flex!important;
    gap:.5rem;   
}
.container__h3_1{
     color:black;
    font-weight:var(--fw-large);
    margin-left:20px;
}
.container__h3_2{
    color:darkgray;
    font-weight:var(--fw-large);
    
}
.container__button{
    color:var(--bg-background);
    background-color: var(--bg-button);
    height:var(--h-50);
    width:90%;
    font-weight: var(--fw-medium);
    margin:10px 20px;
    border-radius: 2em;
    border:none;
    font-size: var(--fs-p);
}
.container__button:hover{
    background:linear-gradient(180deg, hsl(252, 100%, 67%),hsl(241, 81%, 54%) );
}




@media (min-width:600px){
    .container{
        grid-template-columns:1fr 1fr;
        box-shadow: 1px, 1px, grey;
        max-width:700px;
        border-radius:2rem;
    }
    .result{
        border-radius:2rem;
        overflow:visible;
        height:auto;
    }
    .result__circle{
    border-radius:100%;
    margin:auto auto;
    width:55.33333333333%;
    height:45%;
    align-items: center;
}
    .result_circle_h1{
    font-size:90px;
    
}
.result_circle_p1{
    font-size:15px;
}
    .result__h2{
      font-size:25px;   
    }
.container_blue, .container_green{
    gap:110px!important;
}
.container_yellow, .container_red{
    gap:95px!important;
}
    
}